/* Styles for iframe to display the contents of the different features from the dashboard */

body {
    background: #1d976c;
    background: -webkit-linear-gradient(left, #1d976c, #93f9b9);
    background: -o-linear-gradient(left, #1d976c, #93f9b9);
    background: linear-gradient(to right, #1d976c, #93f9b9);
}

.form {
    position: relative;
    z-index: 1;
    background: #fff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.20);
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form>.button {
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.frame {
    position:relative;
    overflow:auto;
    height:500px;
    width:1000px;
    align:center;
    margin-top: 50px;
    margin-left: 50px;
}

.scrolltable {
    height: 350px;
    overflow-y: scroll;
}

.conn {
    text-align: center;
    text-overflow: ellipsis;
    width: 90%;
}

table {
  border-collapse: collapse;
  margin-left: 12em;
  height: inherit;
  width: 600px;
}

tr, td {
  border: 1px solid #000;
  padding: 0.3rem;
  text-align: center;
}
